In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("tweet_data.csv")

In [3]:
df

,tweetID,crDate,edInput,editor,engages,isApproved,isEdNeed,isRT,likes,photoUrl,retweets,rtUsID,text,topicName,usFlwrs,usID,usName,videoUrl
0,1070867471245164544,2018-12-07 02:27:55,-1,-1,98,False,True,False,64,https://pbs.twimg.com/media/Dtx8SiIWkAImVsb.jpg,34,-1,The immediate impulse for an alliance of the E...,Business,23464532,5988062,The Economist,NaN
1,1070868017888837633,2018-12-07 02:30:05,-1,-1,13,False,True,False,10,https://pbs.twimg.com/media/Dtx8yTyW4AEciqP.jpg,3,-1,America's economy is flashing some warning sig...,Business,1732809,16184358,CNN Business,NaN
2,1070868012864028673,2018-12-07 02:30:04,-1,-1,12,False,True,False,8,NaN,4,-1,Lyft files for what is expected to be one of t...,Business,2253989,25053299,FORTUNE,NaN
3,1070867995239555075,2018-12-07 02:30:00,-1,-1,5,False,True,False,4,NaN,1,-1,"Exporters still waiting to get Rs 6,000 crore ...",Business,1704056,43855487,Business Standard,NaN
4,1070867995205885952,2018-12-07 02:30:00,-1,-1,5,False,True,False,2,NaN,3,-1,Ride-hailing firm Lyft races to leave Uber beh...,Business,1997662,15110357,Reuters Business,https://video.twimg.com/amplify_video/10708116...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
785911,1147325851614117888,2019-07-06 02:06:13,-1,-1,3,False,True,True,1,NaN,2,542154137,Relations are DIFFERENT\nnot DIFFICULT.,Motivational,85625,542154137,Wit & Wisdom ðŸ’¯,NaN
785912,1153184058714624001,2019-07-22 06:04:39,-1,-1,867,False,True,True,561,https://pbs.twimg.com/media/EADuxohU8AAQo8G.jpg,306,858516111410647040,"""to live a creative life, we must lose our fea...",Interesting,208417,2920686840,DeepFelingâ„¢,NaN
785913,1153048802116292608,2019-07-21 21:07:11,-1,-1,4605,False,True,True,4253,NaN,352,3282859598,Who's your comic crush? https://t.co/H29dhXw3kf,Memes,7024207,436266454,Twitter Movies,https://video.twimg.com/amplify_video/11530474...
785914,1154063052997836801,2019-07-24 16:17:27,-1,-1,5638,True,True,False,4996,https://pbs.twimg.com/media/EAQOObJWwAASaxj.jpg,642,-1,"After a flight of 195 hours, 18 minutes, 35 se...",Random,32030797,11348282,NASA,NaN
785915,1073723027718688768,2018-12-14 23:34:53,-1,-1,4181,False,True,True,3282,https://pbs.twimg.com/media/DuahZZeUYAA7-55.jpg,899,2355808260,Scarface's Action Figure Tony Montana cutting ...,Photography,606924,2355808260,41 Strange,NaN

In [5]:
df_business = df[df["topicName"] == "Business"]; df_business

,tweetID,crDate,edInput,editor,engages,isApproved,isEdNeed,isRT,likes,photoUrl,retweets,rtUsID,text,topicName,usFlwrs,usID,usName,videoUrl
0,1070867471245164544,2018-12-07 02:27:55,-1,-1,98,False,True,False,64,https://pbs.twimg.com/media/Dtx8SiIWkAImVsb.jpg,34,-1,The immediate impulse for an alliance of the E...,Business,23464532,5988062,The Economist,NaN
1,1070868017888837633,2018-12-07 02:30:05,-1,-1,13,False,True,False,10,https://pbs.twimg.com/media/Dtx8yTyW4AEciqP.jpg,3,-1,America's economy is flashing some warning sig...,Business,1732809,16184358,CNN Business,NaN
2,1070868012864028673,2018-12-07 02:30:04,-1,-1,12,False,True,False,8,NaN,4,-1,Lyft files for what is expected to be one of t...,Business,2253989,25053299,FORTUNE,NaN
3,1070867995239555075,2018-12-07 02:30:00,-1,-1,5,False,True,False,4,NaN,1,-1,"Exporters still waiting to get Rs 6,000 crore ...",Business,1704056,43855487,Business Standard,NaN
4,1070867995205885952,2018-12-07 02:30:00,-1,-1,5,False,True,False,2,NaN,3,-1,Ride-hailing firm Lyft races to leave Uber beh...,Business,1997662,15110357,Reuters Business,https://video.twimg.com/amplify_video/10708116...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
785813,1154171703519350784,2019-07-24 23:29:12,2,5004,135,False,True,True,101,NaN,34,20562637,ðŸš¨ Spoilers ahead ðŸš¨\nFinished #StrangerThings? ...,Business,16441,2401975454,Kim Renfro,NaN
785817,1154173199808172032,2019-07-24 23:35:08,-1,-1,20,False,True,True,13,NaN,7,34713362,Be ready for the imminently possible. AI techn...,Business,12524,237417499,Bloomberg Live,https://video.twimg.com/amplify_video/11537306...
785829,1154066208997695490,2019-07-24 16:30:00,2,5004,1892,False,True,True,1412,NaN,480,20562637,These cakes are topped with yogurt ðŸŽ‚ https://t...,Business,214530,4805771380,FOOD INSIDER,https://video.twimg.com/amplify_video/11537271...
785854,1154059414174703617,2019-07-24 16:03:00,2,5004,79,False,True,True,64,NaN,15,20562637,Are you team Shake Shack or team In-N-Out? htt...,Business,214552,4805771380,FOOD INSIDER,https://video.twimg.com/amplify_video/10376357...
785869,1154051110761422849,2019-07-24 15:30:00,-1,-1,52,False,True,True,40,NaN,12,20562637,These dollar-menu Taco Bell items are perfect ...,Business,214559,4805771380,FOOD INSIDER,https://video.twimg.com/amplify_video/99214328...

In [8]:
df_business_editor = df_business[df_business["edInput"] != -1]; df_business_editor

,tweetID,crDate,edInput,editor,engages,isApproved,isEdNeed,isRT,likes,photoUrl,retweets,rtUsID,text,topicName,usFlwrs,usID,usName,videoUrl
12252,1072758722315862021,2018-12-12 07:43:04,2,5001,9618,False,True,True,5771,NaN,3847,621523,UK Prime Minister Theresa May will face a vote...,Business,38564612,5402612,BBC Breaking News,NaN
14042,1072959907958276096,2018-12-12 21:02:31,2,5001,10388,False,True,True,6977,https://pbs.twimg.com/media/DuPrWYHW4AEXol3.jpg,3411,621523,UK PM Theresa May wins confidence vote with 20...,Business,38567131,5402612,BBC Breaking News,NaN
16954,1073329348755767303,2018-12-13 21:30:32,2,5001,6734,False,True,True,4467,NaN,2267,3108351,The probe of the inaugural fund partly arises ...,Business,57108,705706292,Rebecca Ballhaus,NaN
18004,1073499538659393536,2018-12-14 08:46:49,1,5001,6914,True,True,True,5402,NaN,1512,621523,The week Brexit hit the brick wall : Commons ...,Business,879928,25984418,Nick Robinson,NaN
18396,1073542862573371392,2018-12-14 11:38:58,2,5001,6269,False,True,True,4610,NaN,1659,621523,Have watched these kinds of pictures looking f...,Business,888862,61183568,Laura Kuenssberg,https://video.twimg.com/ext_tw_video/107354281...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
785779,1154081309322440705,2019-07-24 17:30:00,2,5004,431,False,True,True,321,NaN,110,20562637,This bouquet of roses is completely edible htt...,Business,214469,4805771380,FOOD INSIDER,https://video.twimg.com/amplify_video/97907179...
785809,1154074513447034888,2019-07-24 17:03:00,2,5004,699,False,True,True,504,NaN,195,20562637,This fancy McDonald's has a handwashing statio...,Business,214487,4805771380,FOOD INSIDER,https://video.twimg.com/amplify_video/10569076...
785813,1154171703519350784,2019-07-24 23:29:12,2,5004,135,False,True,True,101,NaN,34,20562637,ðŸš¨ Spoilers ahead ðŸš¨\nFinished #StrangerThings? ...,Business,16441,2401975454,Kim Renfro,NaN
785829,1154066208997695490,2019-07-24 16:30:00,2,5004,1892,False,True,True,1412,NaN,480,20562637,These cakes are topped with yogurt ðŸŽ‚ https://t...,Business,214530,4805771380,FOOD INSIDER,https://video.twimg.com/amplify_video/11537271...
785854,1154059414174703617,2019-07-24 16:03:00,2,5004,79,False,True,True,64,NaN,15,20562637,Are you team Shake Shack or team In-N-Out? htt...,Business,214552,4805771380,FOOD INSIDER,https://video.twimg.com/amplify_video/10376357...

In [12]:
len(df_business_editor.tweetID.unique())

41293

In [18]:
len(df_business_editor.text.unique())

41290

In [19]:
len(df_business_editor.usID.unique())

516